<a href="https://colab.research.google.com/github/YuJinsoo/BackendOrmi/blob/main/deep_dive_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.

1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```


* 선택 마크다운(필수가 아니니 부담가지지마세요)

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문
    [인라인 링크](https://velog.io)

    ![이미지설명](이미지링크)

    table은 markdown table generator사용해서 말들어주기
    https://www.tablesgenerator.com/markdown_tables

    체크박스 만드는 법
    * [ ] hello
    * [X] hello
    ```

# Python

In [4]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [6]:
# 아래와 같이 열단위 주석으로 text 데이터를 넣을 수 도 있습니다.
data='''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''
data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [7]:
# 띄어쓰기 4칸 (tab(실제로는 스페이스 4칸과 다릅니다), 6칸, 7칸 등 다 작동함.)
#

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

In [14]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A:
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [20]:
# escape 문자 (대부분의 언어에서 공통으로 처리함)
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [26]:
# type -> string
hello = 10
print(r'hello \n world') # str -> raw 값으로 보줌. (Django 2.x까지 url parsing을 이렇게 사용함)
print(f'hello \n world {hello}') # f-string. python 3.6에서 등장. f-string을 사용하는 것을 추천함
print('hello world {}'.format(hello)) # formating

hello \n world
hello
 world 10
hello world 10

In [28]:
# type -> float
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

2300.0
2300.0

2300.0

In [30]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

0.0023
0.0023

0.0023

In [31]:
type(2.3e-3)

float

In [21]:
class A: # 자동차 공장
    pass

a = A #class
b = A() #instance #자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [15]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type를 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

int

In [17]:
print(type(a))

<class 'int'>

In [22]:
dir(a)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [34]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [36]:
# 위만큼 자주 사용하지는 않지만 자주 사용하는 타입 확인 코드
a =10
isinstance(a, int)
isinstance(a, float)

True

## 변수

In [38]:
# CS 변수는 포스트잇
# 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누구를 가리키고 있는지 그 주소값을 반환합니다.

(140570220790288, 140570220790288)

In [40]:
x is y

True

In [43]:
# -5 ~ 256 까지 메모리에 미리 할당해두고 사용함!
x = 257
y = 257

id(x), id(y), x is y # id는 누구를 가리키고 있는지 그 주소값을 반환합니다.

(140568974617712, 140568974619248, False)

In [46]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.


# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [48]:
x = -5
y = -5

id(x), id(y), x is y # id는 누구를 가리키고 있는지 그 주소값을 반환합니다.

(140570220789808, 140570220789808, True)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [49]:
'a' + 'a'

'aa'

In [50]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a 는 97(인간이 보는 숫자) -> 0ㅌ61 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어있어서!
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 매직메서드(__init__ ...)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [51]:
'10' + '10'

'1010'

In [54]:
 # str 변수를 int로 형변환해서 더함
int('10') + int('10')

20

In [55]:
# point!!
# class가 중요한 게 아니라 이러한 '약속'을 우리가 변경할 수 있다!! 는 것이 중요함
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

'leehojun'

In [58]:
class int(int):
    def __add__(self, a):
        return self * a
        
int('10') + int('10')

100

In [57]:
dir(10)
# __ 없는 함수는 편의기능? 이라고 생각하면 됨. 추가할수있음

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [61]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수
        
value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [63]:
value.제곱(3)

1000

In [66]:
# x -> 10 ,y -> 10, z ->10
x = 10
y = x
z = y
print(id(x), id(y), id(z))

140570220790288 140570220790288 140570220790288

In [68]:
x = 10
y = x
# x-> 10, y ->10
x =100
# x -> 100, y -> 10
print(x, y)
print(id(x), id(y))

100 10
140570220793168 140570220790288

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. (물론 회사 컨벤션을 따르셔야 합니다.)
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [70]:
# 스네이크 표기법(python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorld = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용합니다.)
Hello=10

In [74]:
# 10hello = 100
hello10 = 100

# 특수문자도 변수명에 넣어서 사용할 수 있음
# 하지만 권장하지 않음
π = 3.14 
print(π)

# _ 만은 자주 사용되는데 이렇게 사용되지 않음
_ = 100
print(_)

3.14
100

In [77]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을 때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100
# print(100)

## 입력과 출력

In [1]:
x = input()
x

10

'10'

In [2]:
x + x #사용자에게 받은 입력은 str

'1010'

In [3]:
print(10, 10, 10)

10 10 10

In [4]:
print('hello', 'world', 'hello')

hello world hello

In [9]:
print(x, x)

10 10

In [10]:
print('hello world', end='!')
print('hello world', end='!')
print('hello world', end='!')

hello world!hello world!hello world!

In [12]:
print('hello', 'world', sep='!')
print('010', '5044', '2903', sep='-') # 호준대표님 번호

hello!world
010-5044-2903

In [18]:
이름 = '이호준'
나이 = 10
print('1. 제 이름은 이호준입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이,'입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이)) # formatting 기법은 오래되기도하고... f-string으로 대체됨
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이)) # format 용법
print(f'5. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.') # f-string 기법

1. 제 이름은 이호준입니다. 제 나이는 10입니다.
2. 제 이름은 이호준입니다. 제 나이는 10입니다.
3. 제 이름은 이호준입니다. 제 나이는 10입니다.
4. 제 이름은 이호준입니다. 제 나이는 10입니다.
5. 제 이름은 이호준입니다. 제 나이는 10입니다.

[포맷코드종류](https://www.notion.so/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [20]:
print(f'{100*10}')

1000

In [22]:
# 중괄호 안에서 복잡한 연산을 하는 것을 권하지 않습니다.
result = 10
print(f'{result}')

10

In [24]:
# 이런 문법은 필요에 의해 검색해서 사용하다 보면 익숙해집니다.
# 10자리로 출력하는데
print(f'{"hello":<10}') #왼쪽 정렬
print(f'{"hello":>10}') #오른쪽 정렬
print(f'{"hello":^10}') #중앙 정렬

hello
     hello
  hello

In [29]:
txt='hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}') # formatting 인자를 변수로 주는 법!!!!!!!!!!!!!!!!!!!!!!!!!!!!

     hello
     hello

In [30]:
# 이런 문법은 필요에 의해 검색해서 사용하다 보면 익숙해집니다.
# 10자리로 출력하는데
print(f'{"hello":!<10}') #왼쪽 정렬
print(f'{"hello":!>10}') #오른쪽 정렬
print(f'{"hello":!^10}') #중앙 정렬

hello!!!!!
!!!!!hello
!!hello!!!

In [31]:
# 이런 문법은 필요에 의해 검색해서 사용하다 보면 익숙해집니다.
# 10자리로 출력하는데
print(f'{"hello":=<10}') #왼쪽 정렬
print(f'{"hello":=>10}') #오른쪽 정렬
print(f'{"hello":=^10}') #중앙 정렬

hello=====
=====hello
==hello===

In [39]:
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
print(f'{bin(9)[2:]:0>5}')
print(type(bin(9)))

01001
<class 'str'>

In [37]:
bin(9|30)[2:].replace('1','#').replace('0',' ')

'#####'

In [41]:
# 실무에서 이정도로 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [42]:
print(f'{0.12345:0.2f}') # 소수점 자리수 표현

0.12

* 이 아래 코드는 필수는 아닙니다.
학습시 참고만 부탁드립니다.

In [43]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [44]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

In [45]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
    5
5
  5
50000
   5.00

In [137]:
# f-string 에 \(backslash) 는 포함될 수 없다. 
# \ 표현 가능안 r구문과 함께 쓸 수 없음...
print(f'{"hello":@^20}')
# print(f'{"hel\lo":@^20}') # SyntaxError: f-string expression part cannot include a backslash
print(fr'{"hello":@^20}')
# print(fr'{"hel\lo":@^20}') # SyntaxError: f-string expression part cannot include a backslash
print(r'123456\abcde\t\n\t\t\n') #backslash 표현이 됨!

@@@@@@@hello@@@@@@@@
@@@@@@@hello@@@@@@@@
123456\abcde\t\n\t\t\n

## int

* python 에서는 숫자를 정수, 실수, 복소수로 나눠 표현합니다.
* 2진수, 8진수, 10진수, 16진수는 정수로 표현됩니다.
* overflow가 없습니다!

In [90]:
a = 123165465499999999999999999999999999999999999999
print(type(a))
# python 2.x에서는 int 와 long 이있어서 구분해야 했지만 3.d에는 int만 있어서 아무리 큰수가 담겨도 int!

<class 'int'>

In [91]:
a = 10**100 # 구골(googol)
print(type(a))
print(a)

<class 'int'>
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [46]:
10 # 정수
-10 # 정수
10.1 # 실수

a=10
type(a)
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
 'bit_length' # bit로 바꾸었을 때 bit의 길이
 'to_bytes' # pc에서 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024KB 
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [49]:
(9).bit_length() #1001

4

In [61]:
# 컴퓨터가 숫자를 어떻게 저장하는가?
# --> 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다. 
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다. 
# 따라서 2의 보수를 사용합니다.

(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의보수
# 1111 1111 # 1의 2의보수 => 0xff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺌
# 10 진법
# 0 1 2 3 4 5 6 7 8 9 -> 10 12 13
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10 11
# 1001 = 1*2^3 + 0*2^2 + 0*2^1 + 1*2^0

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c e d f -> 10

In [ ]:
# color의 표현
# 2596be
# 000000 ~ ffff
# ff는 10진수로 무슨 숫자를 의미?
# 100 - 1 => ff-1이 됨

In [62]:
a = 10
type(a)

int

In [63]:
int('10') + int('10')

20

In [65]:
int('10', 2) # 2진법으로 10

2

In [68]:
int('10', 8) # 8진법으로 10

8

In [67]:
int('10', 16) # 16지넙으로 10

16

In [69]:
print(0b110) # 바이너리
print(0o110) # 옥타
print(0x110) # 헥사

6
72
272

In [70]:
a = 10
type(a) == int
isinstance(a, int)

True

## float(실수)

In [71]:
a = 10.1
type(a)

float

In [72]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [73]:
a = 10
b = 10.1

a+b # 다른 일부 언어에서는 허용되지 않습니다

20.1

In [74]:
# 부동소수점 오차(2진법으로 0.1이 무한대수가 발생합니다.)
0.1+0.2 # 대부분의 언어 공통입니다.

0.30000000000000004

In [75]:
a = 0.1

In [85]:
# 20번 반복해보세요
a = a + 0.1
a

1.0999999999999999

* [python 부동소수점 처리](https://docs.python.org/ko/3/tutorial/floatingpoint.html)
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시함
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.(무한히 반복하는 소수처럼...)
* 부동소수 표현은 **IEEE-754**로 표기되기로 약속되어있음
* [무한대수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

In [86]:
# 왜 빈문자 개수를 찾았는데 6이 나올까?
'hello'.count('')

6

## 오늘 배운 것 정리 230501
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str(문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [1]:
s ='paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing 이라고 합니다.

'p'

In [2]:
type(s)

str

In [3]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [4]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [5]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

(8, 8)

In [7]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드.
# 네이버에 이미지 슬라이딩 코드
# s.find('Z') => -1은 True이기 때문에 주의가 필요함 
s.find('Z')

-1

In [8]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript.
# 에러처리를 할 거면 에러 주는 것을 사용하면 됨
s.index('Z')

ValueError: ignored

In [9]:
s = 'paullab CEO leehojun'
s.find('CEO')

8

In [ ]:
# .count() 함수 : 문자열이나 숫자를 셀 때 사용 (중요도 *****)
s = 'paullab CEO leehojun'
s.count('l')

In [10]:
str([1, 2, 3, 4, 5])

'[1, 2, 3, 4, 5]'

In [11]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [12]:
str([1, 2, 3, 4, 5]).count(',')

4

In [14]:
# 이런 유형의 문제를 많이 풀 것임.
str([1, 2, 11, 4, 111]).count('1')

6

In [25]:
# 윗줄과 같은 원리
str(list(range(0,10001))).count('8')

4000

- https://codingdojang.com/scode/393?answer_mode=hide

In [24]:
str([1,
     2,
     3,
     4,
     5]).count(' ') 
#list는 콤마 다음에 공백이 없더라도 공백으로 인식, enter가 있어도 공백 1개로 인식 합니다.
# 원소 사이에 enter 없어도 4가 나옴

4

In [19]:
'hello'.count('')  # 문자 사이에 빈문자가 들어가있는 건가??

6

In [20]:
'a'.count('')

2

In [21]:
''.count('')

1

In [22]:
# 빈 문자열 + 빈문자열 = 빈문자열 이기 때문에 1개로 셈
'' + ''

''

In [26]:
# 공백 제거. strip, rstrip, lstrip, relpace
'   hello   !  '.strip()

'hello   !'

In [29]:
'   hello   !  '.rstrip(), '   hello   !  '.lstrip()

('   hello   !', 'hello   !  ')

In [33]:
# replace (중요도 *****)
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'W@O@R@L@D').upper()

'HELLO W@O@R@L@D HI'

In [35]:
# 메서드 채이닝 : 메서드를 연속으로 호출
'hello world hi'.replace('world', 'W@O@R@L@D').upper().split('@')
# split()의 반환값은 list() 이기 때문에 메서드 채이닝을 하려면
# split 이후로는 list 메서드를 사용해야 함

['HELLO W', 'O', 'R', 'L', 'D HI']

In [36]:
'hello world hi'.replace(' ', '') # 공백 제거!

'helloworldhi'

In [40]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ','').replace('"','')

# Pythonic 하지 않다!
data.split('\n')[0].replace(' ',
                '').replace('"',
                '')

# Pythonic 하게! \ 붙여주면 다음줄에 이어서 됨.
data.split('\n')[0]\
                .replace(' ','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\

# 강사님 기법
processed_string = data.split('\n')[0].replace(' ','').replace('"','')
processed_string.replace('"','').replace('"','')

'++-+-+-'

In [ ]:
# 영어 79자
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 한글 39자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [43]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''
data.split('\n')[0].replace(' ','').replace('"','').replace('+','1').replace('-','0')

ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경. chr은 숫자를 문자로 변경합니다.

# ASCII code
# A : 65 a :97 
# 대문자는 65~90 인데 소문자가 91부터 이어지지 않음! <<<< 유의해야 함!!!!!!!!!

num1 = data.split('\n')[0].replace(' ','').replace('"','').replace('+','1').replace('-','0')
num2 = data.split('\n')[1].replace(' ','').replace('"','').replace('+','1').replace('-','0')
num3 = data.split('\n')[2].replace(' ','').replace('"','').replace('+','1').replace('-','0')
num4 = data.split('\n')[3].replace(' ','').replace('"','').replace('+','1').replace('-','0')
int (num1, 2)
chr(int(num1, 2)), chr(int(num2, 2)), chr(int(num3, 2)),chr(int(num4, 2))

('j', 'e', 'j', 'u')

In [44]:
# split (중요도 **** .)
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

['paullab', 'CEO', 'leehojun']

In [55]:
# 퀴즈
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace(' ','-').split('-')

# map
list(map(int,'010 5044 2903'.split(' ')))
list(map(int,'010-5044-2903'.split('-')))
list(map(int,'010 5044-2903'.replace(' ','-').split('-')))

# list comprehension ( list의 append 사용하는 것 보다 빠름 )
ls= '010 5044 2903'.split(' ')
[int(i) for i in ls]

# map, list comprehension 둘 다 새로운 list를 생성함. 원본 변경은 없음

[10, 5044, 2903]

In [ ]:
# 원하는 결과값
# ['010', '5044','2903']
# [10,5044,2904]  # 010 은표현이 안되서 10 으로 해주세요

In [57]:
# 강사님풀이
'010 5044 2903'.split() #공백단위가 들어가게 됩니다.

['010', '5044', '2903']

In [ ]:
# 지금 진도에서 과한 풀이방법... 뒤에서 상세하게 다룸!
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

In [62]:
# join 별 4.5개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello']) # 자주 사용
' '.join(['hello', 'world', 'hello']) # 자주 사용

'hello world hello'

In [63]:
#  isalnum( ) / isalpha( ) / isascii( )
'hello'.isalpha() # 알파벳인지 확인함

False

In [ ]:
'hel lo'.isalpha() # 띄어쓰기까지 알파벳인지 확인함 (띄어쓰기는 알파벳 아니라 false)

In [64]:
'123'.isdigit() # 숫자인 문자인지 확인

True

In [65]:
'12a3'.isdigit(), '12 3'.isdigit()

(False, False)

In [66]:
'12a3'.isalnum(), '12 3'.isalnum()

(True, False)

In [67]:
'안녕하세요!'.isalpha(), '안녕하세요!'.isalnum()

(False, False)

In [72]:
#아스키코드인지 아닌지 판단해줍니다.
'paullab CEO leehojun'.isascii(), '123'.isascii()

(True, True)

In [70]:
# 퀴즈 
# 문자열에 있는 모든 숫자를 더해주세요
answer = 0
for i in '123abc913sldlf':
    if i.isdigit():
        answer += int(i)
answer

19

In [71]:
# rjust( ) / ljust( ) / center( ) format용법으로 거의 커버가 되긴 함...
print('paullab CEO leehojun'.rjust(30)) #오른쪽 정렬
print('paullab CEO leehojun'.ljust(30)) #왼쪽 정렬
print('paullab CEO leehojun'.center(30))#가운데 정렬

          paullab CEO leehojun
paullab CEO leehojun
     paullab CEO leehojun

In [74]:
# zfill()
# 빈 공간을 문자 0으로 채워주는 함수
'hello'.zfill(20)

'000000000000000hello'

In [76]:
# 2진수 표현에 자주 사용함
'1001'.zfill(8)

'00001001'

In [77]:
'hello'.zfill(10).replace('0', '-')

'-----hello'

In [79]:
# translate()
# 규칙 테이블이며 규칙을 정해 데이터를 정렬해줌
규칙테이블 = str.maketrans({'\n':'', '\t':''})  # replace랑 똑같은것...임
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)
# 같은 결과 replace로...
# 'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

'paullab  CEO  leehojun'

In [80]:
# str.maketrans에서 규칙을 정할 때 똑같은 길이를 가지고 있어야 함
규칙테이블 = str.maketrans('\n\t', '  ')  # \n -> ' ' , \t -> ' '
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

'paullab     CEO     leehojun'

In [82]:
규칙테이블 = str.maketrans('le', '12')
'lehojun leeesnaghuck hahah'.translate(규칙테이블)

'12hojun 1222snaghuck hahah'

## pep

In [83]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 42자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code (https://peps.python.org/pep-0008/) 
# pep20 : The Zen of Python (https://peps.python.org/pep-0020/) #이스터에그로 숨겨져 있습니다!
# https://peps.python.org/
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## cpython

* 공식 홈페이지에서 python 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [84]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [89]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]   # 5번째 부터 끝까지
s[:5]   # 처음부터 5번째까지 (index 4 까지)
s[3:10]
s[:]    # 처음부터 끝까지
s[0:20:2]

'pulbCOleou'

In [93]:
# 자주 사용되는 인덱싱 슬라이싱 코드
s = 'paullab CEO leehojun!'
s[:]    # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다. (복사때문에...?)
s[:-1]  # 마지막 원소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [90]:
test = [1, 2, 3, 4]
test2 = test # 복사가 일어남
test2[0] = 1000
test, test2 ## 값이 둘 다 바뀜.

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [91]:
test = [1, 2, 3, 4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줌
test2[0] = 1000
test, test2 ## 값이서로 다름 test2만 바뀜

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [96]:
s = 'hello world'
dir(s)

s + s
s*3
# s/s, s**s, s-s 는 ERROR

'hello worldhello worldhello world'

## 형변환

* 형변환 : type을 변경하는 것입니다.

### 형변환 int float

In [100]:
x = int(input())
x + x # but 알파벳 입력하면 error!

10

AttributeError: ignored

In [101]:
x = input()
if x.isdigit():
    x = int(x) # but 알파벳 입력하면 error!
x + x

10

20

In [104]:
# int('abc') #error
int(10.1) #버림
int('10') #형변환 가능
# int('10.1') #형변환 불가능

10

In [107]:
# float('abc') #error
float(10.1) #버림
float('10') #형변환 가능
float('10.1') #형변환 가능

10.1

In [108]:
int('10a')  # 되는 언어가 있어서 보여드림 ex) JavaScript
# python 에서는 허용하지 않습니다.

ValueError: ignored

### 형변환 string

In [122]:
def hello():
    pass

str(123)
str(True)
str(None)
str(type)

str(hello)  # <function hello at 0x~~~~>
str([1,2,3])
str((1,2,3))
str({1,2,3})
str({'one':1, 'two':2})

"{'one': 1, 'two': 2}"

### 형변환 bool

In [143]:
# ***** 별 다섯 개!
if True:
    print('hi')

if 'hello': 
    print('hi')

# 문자열이 빈문자열 아니면 모두 True
print(bool(''))
print(bool('a'))
print(bool('False'))
print(bool('True'))
# 숫자는 0만 False, 나머지는 True
print(bool(0))
print(bool(-1))
print(bool(124))
print(bool(100.1))
print(bool(None) ) # None은 비어있음을 명시해주는 키워드. False

# 컨벤션 자료형은 비어있으면 False입니다.
print(bool([]))
print(bool({}))
print(bool([1]))

hi
hi
False
True
True
True
False
True
True
True
False
False
False
True

In [141]:
# python 에서는 컨벤션이 비어있으면 False이기 때문에 이용하는 방법!? 
# >> javascript는 안그럼..
ls = [1,2,3]
while ls:
    print(ls.pop())

3
2
1

In [145]:
# list로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [146]:
s = 'leehojun'
l = list(s)
l

['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']

In [147]:
# tuple로 형변환
s = '10'
t = tuple(s)
t

('1', '0')

In [148]:
s = 'leehojun'
t = tuple(s)
t

('l', 'e', 'e', 'h', 'o', 'j', 'u', 'n')

In [150]:
# dictionary 로 형변환
# name = 'leehoun'
# dict(name) # 단순 문자만 넣으면 error

s = [('name', 'leehojun'), ('age', 10)]
d = dict(s)
d

{'name': 'leehojun', 'age': 10}

In [152]:
# set 으로 형변환
# set은 순서를 보장하지 않고, 중복된 원소를 제외함
name = 'leehojun'
set(name)

{'e', 'h', 'j', 'l', 'n', 'o', 'u'}

In [155]:
# len() 함수는 __len__ 
len('hello world')
len([1,2,3,4])
len({1,2,3})

3

In [170]:
#연습문제 2번
def function(input):
    return input*2

user_input = input('문자를 입력해 주세요: ')
function(user_input)

# print(input('문자를입력해주세!: ')*2 # 이렇게도 똑같음

문자를 입력해 주세요abc

'abcabc'

In [2]:
#연습문제 3번
num = 1234567890
list(str(num))[3]

'4'

## 산술연산

In [3]:
a =10
b=3
print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}')   # 몫만 나옵니다.(정수)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}')     # 나머지

10 + 3 == 13
10 - 3 == 7
10 / 3 == 3.3333333333333335
10 // 3 == 3
10 * 3 == 30
10 ** 3 == 1000
10 % 3 == 1

In [5]:
# 연산자 우선순위
# and, or, 4칙연산, 제곱정도만 알면 코딩하는데 큰 무리가 없음.
# 모르면 읽는데 어려움이 생기기도 함...
# 헷갈릴 때에는 괄호 씌워서 하기!!
# point
# ** > *
# and > or
print(3 ** 2 * 3)
print(3 * 3 ** 2)   # 연산자 우선순위 ** > * 이기 때문에 3 ** 2 를 먼저함
print(3 + 3 * 2)

#

27
27
9

## 비교연산

In [ ]:
# 비교연산자
a =10
b=3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

## 논리연산

In [6]:
# and 는 곱
# or 는 합
# not 은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 쓸 때, 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)

if True and False:
    print('hello and')

if 10>3 and 8%3==0:
    print('world and')

if True or False:
    print('hello or')

if 10>3 or 8%3==0:
    print('world or')

# and는 언제 True가 되나요?
# --> 모두 True 일 때
# or는 언제 True가 되나요?
# --> 하나라도 True 일 때

False
True
hello or
world or

In [10]:
# 문제 링크 : https://codingdojang.com/scode/350?answer_mode=hide
answer = 0
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:  ## 3과 5의 공배수를 찾고싶으면 and!
        answer += i

answer # 2418

2418

In [11]:
# and or를 안 쓰면...
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i
        continue 
    if i % 5 == 0:
        result += i

result

2418

In [12]:
not True

False

In [13]:
not False

True

In [15]:
# python 입장에서 보는 코드
# False and ??? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 풀음표를 해석하지 않습니다.

def solution():
    1/0 # ZeroDivisionError


if False and solution():
    print('solution must be error')
# 무조건 결말이 결정되어 있는 코드는 뒤에있는 나머지 코드를 해석하지 않음!!

In [16]:
def solution():
    1/0 # ZeroDivisionError


if True or solution():
    print('solution must be error')
# 무조건 결말이 결정되어 있는 코드는 뒤에있는 나머지 코드를 해석하지 않음!!

solution must be error

In [17]:
# 단락 평가 (컴퓨터가 어디까지 보는지 판단해서 활용)
username='' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

'licat'

In [19]:
username='leehojun' # 사용자가 아무것도 입력하지 않았을 경우
print(username or 'licat') ## < 이게 왜 username 혹은 'licat'이 출력되는거죠??
username = username or 'licat'
username

leehojun

'leehojun'

In [25]:
# and 와 ro의 우선순위 ( and > or)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
15
16
18
20
0
2
4
6
8
10
12
14
15
16
18
20

In [26]:
# 아래는 출력값이 다릅니다. 우선순위가 낮은 or가 먼저 나왔기 때문입니다.
# 헷갈리시면 괄호를 사용해주세요!
for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

0
6
10
12
18
20
0
3
6
9
10
12
15
18
20

## 비트연산 (중요도 하)

In [27]:
# & (곱하기)
# 1001 == 9
# 0010 == 2
# ----
# 0000

False

In [28]:
9&8

8

In [33]:
# | (더하기, 대신 자리 올림이 되진 않습니다.)
# 1001 == 9
# 0011 == 3
# ----
# 1011

9|3

11

In [34]:
# ^ (XOR exclusive-or : 같으면 0 다르면 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010

9^3

10

In [38]:
# ~ (not 연산자)
print(~9) # 2의 보수를 취함(9에게 +1 한 다음에 -를 취하면 됨)
print(~-7)
print(~0)

-10
6
-1

In [40]:
# << >> (shift 비트 이동 연산자)
3 << 2
# 0011 == 3
# 1100 == 3 << 2

0

In [42]:
7 >> 2
# 0111 == 7 >> 2

1

## 디스코드 단축키
* :ok

## 할당연산

In [44]:
# a = 10
# a = a + 10
a =  + 10 # 위 식에서 a를 지우면, 양수를 표현하는 10 만남아서, a 에 10 대입
a

10

In [45]:
a = 10
a += 10
a

20

In [50]:
a = 10
a //= 10 # = 앞에 산술연산 모두 가능
a

1

In [51]:
# Python에서 특이하게 증감연산자 (++a, a++, --a, a--) 가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개 함수를 활용해서 Python에 컨벤션 자료형이 
# 어떻게 구성되어있는지 확인해볼겁니다.
# id()
# is()

In [58]:
a = 250
b = 250
print(id(a), id(b))
a is b # id가 같은지 확인하는?

139979164213264 139979164213264

True

In [60]:
a = [1,2,3]
b = [1,2,3]
print(id(a), id(b))
a is b

139977916699776 139977914682624

False

In [61]:
a[0] = 100
a, b

([100, 2, 3], [1, 2, 3])

In [124]:
a = [1,2,3]
b = [1,2,3]
a == b  # Python에서 등호(==)는 type과 value를 봅니다.
# javascript에서 ==는 type과 id를 봐서 false가 나옴

True

In [69]:
# is 연산자는 id를 비교합니다.
id(a) == id(b) # 이게 False 면 is 도 False

False

## not의 위치

In [65]:
a = 10
b = 100
a is not b
# a not is b error

True

In [67]:
a = 10
b = [10,20,30]
a not in b

False

## 멤버연산

In [79]:
print('a' in 'helalo world')
print('a' in 'hello world')
print('a' in ['a', 'b'])
print('a' in {'a': 10, 'b': 20}) # dictionary에서는 key값만 확인함. 
# 10 in {'a': 10, 'b': 20} # dictionary에서는 value값을 in으로 확인할 수 없음
print(10 in {'a': 10, 'b': 20}.values()) # dict()의 value를 확인하고싶으면 .values() 사용! 
print(10 in {10, 20, 30})

True
False
True
True
True
True

In [75]:
'a' not in ['aa', 'bb'] # list에 'a' 인 원소는 없어서 not in 의 결과가 True

True

In [88]:
10 in [10,20,30]
[10] in [10,20,30]
[10] in [[10],20,30]
[10, 20] in [10,20,30]
[10, 20] in [[10,20],30]
# 요소끼리만 확인하고 싶으면 set으로 변환하여 .issubset 함수를 사용...
set([10, 20]).issubset(set([10,20,30]))
{10, 20}.issubset({10,20,30})

True

## 연습문제

In [96]:
#1번
a = 100
print((a > 100) and (a < 200)  )   # False
print((a > 100) or (a < 200)   )   # True
print((a >= 100) and (a <= 200))   # True
print((a >= 100) or (a <= 200) )   # True

False
True
True
True

In [97]:
#2번
b = 25
(b % 2 == 0) and (b % 5 == 0) # False

False

In [98]:
#3번
c = 1000
# 결과값은 10입니다.
answer = c // 100
if c % 100 != 0:
    answer += 1

answer

10

In [127]:
#4번
# 그리디 알고리즘

user_input = int(input('금액을 입력해주세요! :'))
money_unit = [100, 500, 1000, 5000]

def solution(input):
    result = []
    while money_unit:
        now = money_unit.pop()
        result.append(input//now)
        input -= (input//now) * now
    #result.reverse()
    return result

print(solution(user_input))

금액을 입력해주세요! :8800
[1, 3, 1, 3]

In [126]:
#4번 강사님 풀이
남은금액 = int(input())
오천원 = 남은금액 // 5000
남은금액 = 남은금액%5000

천원 = 남은금액 // 1000
남은금액 = 남은금액%1000

오백원 = 남은금액 // 500
남은금액 = 남은금액%500

백원 = 남은금액 // 100
남은금액 = 남은금액%100

print(오천원, 천원, 오백원, 백원)

8800
1 3 1 3

## 오늘 배운 것 정리 230502

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
... (22줄 남음)